/*general page properties*/

html, body, p, h1, h2 {
    padding: 0;
    margin: 0;
}

html {
    font-size: 1vw;
}

body {
    font-size: 16px;
    background-color: rgb(9, 14, 53);
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

p {
    text-align: center;
    letter-spacing: 0.25em;
    color: rgba(255, 255, 255, 0.8);
}

footer {
    padding-top: 20%;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

h1 {
    font-family: 'Raleway Dots', Helvetica, sans-serif;
    letter-spacing: 2rem;
    font-weight: 200;
    padding: 25% 10% 1% 10%;
    margin: 0;
    font-size: 5em;
    color: rgba(255, 255, 255, 0.8);
}

h2 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 100;
    margin: 0;
    color: rgba(255, 255, 255, 0.2);
}

/* top fixed nav bar*/

nav {
    position: fixed;
    background-color: rgba(33, 33, 33, 0.55);
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 0.25rem;
}

ul {
    padding: 0;
}
ul li {
    display: inline;
    text-decoration: none;
}

nav ul li a {
    color: #9f9f9f;
    margin: 5%;
    padding: 1.25% 2% 1.25% 2%;
}

nav ul li a:hover {
    background-color: rgba(33,33,33 ,0.5);
}

/*portfolio*/

.img-wrap {
    width: 21%;
    float:left;
    padding: 0.5%;
    margin: 15% 5% 5% 5%;
    border: #b8b8b8 solid 5px;

}

.portfolio-squares {
    max-width: 100%;
    opacity:0.9;
}

.portfolio-squares:hover {
    opacity: 0.4;
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    -o-transition: opacity 400ms;
    transition: opacity 400ms;
}


/*footer*/

#social-media {
    padding: 25% 25% 0 25%;
    margin: 0;
    color: #fff;
}

footer {
    text-align: center;
}

/*slide pages */
.full-page {
    width: 100%;
    height: 700px;
}

#home {
    background-color: rgb(9, 14, 53);
}

#about {
    background-color: rgb(24, 14, 53);
}

#portfolio {
    background-color: rgb(39, 13, 53);
}

#contact {
    background-color: rgb(53, 10, 53);
}

.social-icon {
    width: 5%;
    padding: 0 2% 0 2%;
}

